$base-dark: #005aa2;
$base-med: #4c8bb3;
$text-dark: #4a5968;
$text-med: #89939d;
$text-inverse: white;

$menu-color: $text-inverse;
$menu-background-color: $base-dark;
$menu-hover-color: $text-inverse;
$menu-hover-background-color: $base-med;

